/* CSS classes */
@import url(https://fonts.googleapis.com/css?family=Inter);

*{
  font-family: 'Inter', sans-serif;
}

.Home {
  text-align: center;
}

.Content {
  color: white;
}

.Project { 
  max-width: 100%;
  position: relative;
  height: 300px;
  overflow: hidden;
  padding: 20px;
}

.Home-logo {
  height: 40vmin;
}

.Home-header {
  background-color: #282c34;
  background-image: url("../home-bckgrnd-modified.png");
  background-position: center;
  background-size: 100%;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #09d3ac;
}

.flex {
  display: flex;
  flex-direction: row;
  height: 200px;
  align-items: flex-start;
  justify-content: center;
  background-color: #696963;
}

.tile{
  flex-grow: 0;
}


#carousel > h2{
  color: blue;
}

.App{
  background-color: #282c34;
}

.App li{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  
}

.App li:hover{
  background-color: black;
}